body {
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: rgb(30, 184, 72);
  /*
  color: white;
  background: url('img/stadium2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  */
}

.wrapper {
  min-width: 940px;
  width: 60%;
  display: inline-block;
  text-align: center;
  
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(#f6f6f6, #e0e0e0);
  /*background: #4C9689;*/

}

nav li {
    float: left;
    color: #189339;
    padding-top: 5px;
}

nav li a, .dropbtn, .nav-contents {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
}

nav li button {
  background-image: url('img/stumps.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;

  background-color: #e0e0e0;
  border: 1px solid rgb(169,169,169);
  border-radius: 6px;
  margin: 0;
  width: 48px;
  height: 48px;
  padding-top: 5px;
  cursor: pointer;
}

nav li button:hover {
  background-color: transparent;
}

nav li button:focus {
  outline: none;
  background-image: url('img/stumps-bowled.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

nav li button:active {
  background-color: #f1f1f1;

  background-image: url('img/stumps-bowled.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}


nav select {
    font-family: inherit;
    border-radius:10px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 2px 0 #ccc, 0 -1px #fff inset;
    background: linear-gradient(#ccc, #f8f8f8);
    outline:none;
    display: inline-block;
    cursor:pointer;
}


.treemap-container {
  /*display: inline-block;*/
}
/*
.node {
  
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  cursor: pointer;
}
*/

.tooltip {
  background: #202020;
  color: #fff;
  border-radius: 5px;
  position: absolute;
  padding: 10px;
  pointer-events: none;
  text-align: left;
  opacity: .9;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 5;
}

#slider-container {
  visibility: hidden;
  display: inline-block;
  text-align: left;
}

/*
#slider {
  display: inline-block; 
  margin: 0;
  width: 60%;
}

input[type=range]{
    -webkit-appearance: none;
    background: inherit;
    cursor: ew-resize;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 7px;
    background: #e6e6e6;
    background: linear-gradient(to right, #e6e6e6 88.1%, black 88.3%, #e6e6e6 88.5%, #e6e6e6);
    border: none;
    border-radius: 30px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    

    background: radial-gradient(rgba(255,255,255,0.2), #ededed, rgba(255,255,255,0.2));
    

    background: linear-gradient(45deg, #ededed, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #ccc, #fff, #fff, #ccc, #fff, #fff, #ccc, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #fff, #ededed);

    background: linear-gradient(45deg, #ededed, #f72718, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #ccc, #B21206, #B21206, #ccc, #B21206, #B21206, #ccc, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #B21206, #f72718, #ededed);


    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffd573;
    background: #1EB848;
    background: linear-gradient(to right, #1EB848 88.1%, black 88.3%, #1EB848 88.5%, #1EB848);
}
*/

.node {
    border: solid 1px inherit;
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    text-shadow: 2px 2px 3px #000000;
    /*
    background-image: -webkit-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:    -moz-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:     -ms-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:      -o-linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0));
    background-image:         linear-gradient(top, hsla(0,0%,100%,.3), hsla(0,0%,100%,0)); 
    text-shadow: -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 1px 2px hsla(0,0%,100%,0.25),
        1px -1px 2px hsla(0,0%,100%,0.25),
        -1px 0px 2px hsla(0,0%,100%,0.25),
        1px 0px 2px hsla(0,0%,100%,0.25);
    */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.node div {
    padding: 6px 4%;
}






/* CSS by Steven Estrella. http://www.stevenestrella.com */

/* The .slider and .slidervertical classes are for the range inputs. 
  Set the z-index high so its on top. */
.slider,
.slidervertical {
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
  z-index: 100;
}
/* slidershell exists only
to provide a positioning context for the range input and other elements.*/

.slidershell {
  border: 0 none;
  position: relative;
  left: 50px;
  top: 0px;
  overflow: visible;
}
/* .slidertrack is the visible track on which the user drags the thumb button. */

.slidertrack {
  border: 2px solid rgba(19,118,46,0.1);
  border-radius: 10px;
  position: absolute;
  cursor: ew-resize;
}
/* .sliderfill adds color (or a gradient as seen here) to the track as the user 
  drags the thumb. */

.sliderfill {
  border: 2px solid rgba(19,118,46,0.1);
  border-radius: 10px;
  position: absolute;
  opacity: 0.9;
  pointer-events: none;
  background: #00767f;
  background: linear-gradient(90deg, #189339, #1EB848);
}
/* .sliderthumb can be any css you like including an image. 
  The dimensions must match those found in the rule for 
  input[type=range]::-webkit-slider-thumb. */

.sliderthumb {
  width: 30px;
  height: 30px;
  background-image: url('img/cricket-ball.png');
  background-size: 30px 30px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0 none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  pointer-events: none;
  cursor: ew-resize;
}
/* .slidervalue can be styled as you see fit */

.slidervalue {
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #1EB848;
  /*font-size: 18px;*/
  position: absolute;
  left: 0px;
  top: 0px;
  border: 0 none;
  padding: 0px;
  margin: 0px;
  text-align: center;
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;  
}
/* First we have to make transparent all the default elements of the range input.
  We use color:transparent to eliminate the default tick marks in IE. */

input[type=range]::-ms-track {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
  cursor: ew-resize;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 100%;
  -moz-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
  cursor: ew-resize;
}

input[type=range] {
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

input[type=range]:focus {
  outline: none;
}
/* Make the thumbs the same size as your custom sliderthumb. 
  they will not be visible but they will be draggable.  */

input[type=range]::-ms-thumb {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  width: 30px;
  height: 30px;
  border-radius: 0px;
  border: 0 none;
  background: transparent;
  -webkit-appearance: none;
  cursor: ew-resize;
}
/* microsoft IE10+ and Edge - eliminates default fills before and after thumb */

input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

input[type=range]::-ms-tooltip {
  display: none;
}

/* end of slider styling */

.form-square {
  color: black;
  cursor: pointer;
}
/*
.form-square:hover {
  stroke-width: 2;
  stroke: black;
}
*/